@font-face {
    font-family: 'CMURoman';
    src: url(../fonts/cmunrm.woff2);
}

body {
    font-family: 'CMURoman';
    background-color: #BDD4E7;
    color: #23001E;
    font-size: 18px;
    font-style: bold;
    width: 99vw;
}

h2 {
    margin-bottom: 2px;
}

header {
    max-width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    background-color: #89B6A5;
    gap: 10%;
    border-radius: 10px;
}

header nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10%;
}

header nav a {
    color: #23001E;
    padding: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
}

#about_me {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
    gap: 1vw;
}

#about_me h2 {
    margin-bottom: 2px;
}

#about_me #about_text {
    grid-column: 1/3;
    grid-row: 2/3;
    background-color: #b79e8a;
    border-radius: 10px;
    padding: 8px;
}

#about_me a {
    text-decoration: none;
    color: #074F57;
}

#about_me img {
    max-height: 25vh;
    grid-column: 4/5;
    grid-row: 2/3;
    border-radius: 10px;
}

#wwr {
    display: grid;
    grid-template-columns: 20% 1% auto;
    grid-template-rows: auto auto auto;
}

#wwr h2 {
    grid-column: 1/4;
    margin-bottom: 2px;
}

#wwr p {
    grid-row: 2/3;
    grid-column: 1/4;
    max-width: 100%;
    background-color: #b79e8a;
    border-radius: 10px;
    padding: 8px;
}

#wwr h3 {
    grid-row: 3/4;
    grid-column: auto;
}

#wwr img {
    height: 60vh;
    grid-column: auto;
    grid-row: 4/5;
}

#wwr iframe {
    width: 100%;
    height: 60vh;
    grid-column: 3/4;
    grid-row: 4/5;
    border: none;
    border-radius: 10px;
}

#ice p {
    background-color: #b79e8a;
    border-radius: 10px;
    padding: 8px;
}

#ice table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    text-align: left;
}

#ice table tr {
    border-bottom: 1px solid #23001E;
}
#ice table tr:first-of-type, #ice table tr:last-of-type {
    border-bottom: 2px solid #23001E;
}

#ice table iframe { 
    width: 50vw;
    height: 250%;
    margin: 10px 0px;
    border: none;
    border-radius: 10px;
}

#ice table input {
    border: 1px solid gray;
}

footer{
    margin-top: 10px;
    margin-bottom: none;
    display: grid;
    grid-template-columns: auto auto 1fr auto auto auto;
    grid-template-rows: auto;
    background-color: #89B6A5;
    gap: 10px;
    border-radius: 10px;
    align-items: center;
    padding: 10px;
}
footer img {
    max-height: 5vh;
    grid-row: 1/2;
    grid-column: 2/3;
    border-radius: 50px;
}

footer input {
    width: 20vw;
}

footer input {
    border-style: outset;
    border-radius: 10px;
    background-color: #b79e8a;
    /* font-family: ; */
    font-size: 14px;
    padding: 4px;
}

footer button {
    width: 5vw;
    font-family: 'CMURoman';
    font-size: 14px;
    color: #23001E;
    background-color: #b79e8a;
    border-color: none;
    border-radius: 10px;
}